<div ng-controller="cartController">
  <nav class="navbar navbar-expand-sm navbar-light starShipClass">
    <!-- Logo / page d'accueil -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand text-white d-flex" href="#">Star Ship</a>
      <!-- Catégories en dropdown -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <div class="dropdown">
            <select ng-model="query">
              <option value="">Tous les vaisseaux</option>
              <option value="Vaisseau Mère">Vaisseaux Mère</option>
              <option value="Vaisseau Cargo">Vaisseaux Cargo</option>
              <option value="Vaisseau de combat">Vaisseaux de combat</option>
              <option value="Vaisseau de tourisme">Vaisseaux de tourisme</option>
            </select>
          </div>
          <!-- barre de recherche -->
          <input type="text" ng-model="query" placeholder="Rechercher">
        </ul>
      </div>
    <!-- Icone Panier -->
    <a href="#!/cart" id="cartIcon"><i class="fas fa-shopping-cart fa-2x mr-2"></i></a>
    <!-- Icone compte -->
    <a href="#" id="accountIcon"><i class="fas fa-user-circle fa-2x"></i></a>
  </nav>
  <!-- Titre du panier -->
  <h1>Votre panier</h1>
  <div ng-repeat="product in cartList" class="allProductsInCartList">
    <div class="col-md-4">
        <img ng-src="assets/img/{{cartItem.img}}">
        <p class="productClassStyle" id="nameProductClassStyle">Nom : {{product.nom}}</p>
        <p class="productClassStyle">Prix : {{product.prix | currency: '€'}}</p>
        <p class="productClassStyle">Quantité : {{product.quantity}}</p>
        <button type="button" name="remove" class="btn item_remove_button" ng-click="remove($index)">Supprimer</button>
    </div>
  </div>
  <hr></hr>
  </div>
  <!-- Bouton Acheter Maintenant -->
  <div class="d-flex justify-content-center">
    <button type="button" class="btn btn-dark btnIntoCart" id="toBuyNow">Acheter maintenant</button>
  </div>
</div>
