<!-- Début de la NavBar -->
<div ng-controller="homeController">
  <nav class="navbar navbar-expand navbar-light bg-dark">
    <!-- Logo / page d'accueil -->
    <a class="navbar-brand text-white d-flex" href="#">Star Ship</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Catégories en dropdown -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <div class="dropdown">
        <select ng-model="query">
          <option value="">Tout les vaisseaux</option>
          <option value="Vaisseau Mère">Vaisseaux Mère</option>
          <option value="Vaisseau Cargo">Vaisseau Cargo</option>
          <option value="Vaisseau de combat">Vaisseau de combat</option>
          <option value="Vaisseau de tourisme">Vaisseau de tourisme</option>
        </select>
      </div>
      <!-- barre de recherche -->
      <input type="text" ng-model="query" placeholder="Rechercher">
      <!-- Icone Panier -->
      <a href="#!/cart" id="cartIcon"><i class="fas fa-shopping-cart fa-2x"></i></a>
      <!-- Icone compte -->
      <a href="#" id="accountIcon"><i class="fas fa-user-circle fa-2x"></i></a>
    </ul>
  </div>
</nav>
<!-- produits -->
<div class="row d-flex flex-row justify-content-center"ng-controller="ProductsCtrl">
  <div class="card m-4 shadow" ng-repeat="product in products | filter:query | orderBy:order">
    <a href="#!/details">
      <img src="assets/img/{{product.img}}" class="card-img rounded" alt="">
    <div class="card-img-overlay">
      <h5 class="card-title text-white font-weight-bold">{{product.nom}}</h5>
    </div>
    </a>
  </div>
</div>
<!-- Vaisseau Cargo -->
<!-- <div class="row categories d-flex flex-column justify-content-center">
<h4 class="categories-title text-white m-2 font-weight-bold">Vaisseau Cargo</h4>
<div class="row d-flex flex-row justify-content-center"ng-controller="ProductsCtrl">
<div class="card m-4 shadow" style="width: 18rem;" ng-repeat="product in products | filter:order">
<img src="assets/img/{{product.img}}" class="card-img-sm rounded" alt="">
<div class="card-img-overlay">
<h5 class="card-title text-white font-weight-bold">{{product.nom}}</h5>
</div>
</div>
</div>
</div> -->
<!-- Vaisseau de combat -->
<!-- <div class="row categories d-flex flex-column justify-content-center">
<h4 class="categories-title text-white m-2 font-weight-bold">Vaisseau de combat</h4>
<div class="row d-flex flex-row justify-content-center"ng-controller="ProductsCtrl">
<div class="card m-4 shadow" style="width: 18rem;" ng-repeat="product in products | filter:order">
<img src="assets/img/{{product.img}}" class="card-img-sm rounded" alt="">
<div class="card-img-overlay">
<h5 class="card-title text-white font-weight-bold">{{product.nom}}</h5>
</div>
</div>
</div>
</div> -->
<!-- Vaisseau de tourisme -->
<!-- <div class="row categories d-flex flex-column justify-content-center">
<h4 class="categories-title text-white m-2 font-weight-bold">Vaisseau de tourisme</h4>
<div class="row d-flex flex-row justify-content-center"ng-controller="ProductsCtrl">
<div class="card m-4 shadow" style="width: 18rem;" ng-repeat="product in products | filter:order">
<img src="assets/img/{{product.img}}" class="card-img-sm rounded" alt="">
<div class="card-img-overlay">
<h5 class="card-title text-white font-weight-bold">{{product.nom}}</h5>
</div>
</div>
</div>
</div> -->
<!-- Fin de la NavBar -->
</div>
