<div ng-controller="homeController">
  <!-- Début de la NavBar -->
  <nav class="navbar navbar-expand-sm navbar-light starShipClass">
    <!-- Icone Menu Burger -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Logo / titre du site -->
    <a class="navbar-brand text-white d-flex font-weight-bold" href="#">Star Ship</a>
      <!-- Catégories en dropdown -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <div class="dropdown">
            <select ng-model="query">
              <option value="">Tous les vaisseaux</option>
              <option value="Vaisseau Mère">Vaisseaux Mère</option>
              <option value="Vaisseau Cargo">Vaisseaux Cargo</option>
              <option value="Vaisseau de combat">Vaisseaux de combat</option>
              <option value="Vaisseau de tourisme">Vaisseaux de tourisme</option>
            </select>
          </div>
          <!-- barre de recherche -->
          <input type="text" ng-model="query" placeholder="Rechercher">
        </ul>
      </div>
    <!-- Icone Panier -->
    <a href="#!/cart" id="cartIcon"><i class="fas fa-shopping-cart fa-2x mr-2"></i></a>
    <!-- Icone compte -->
    <a href="#" id="accountIcon"><i class="fas fa-user-circle fa-2x"></i></a>
  </nav>
  <!-- Début Carousel -->
  <div id="carouselExampleIndicators" class="carousel slide text-center container-fluid mt-5 mb-5" data-ride="carousel">
      <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
              <video class="img-fluid" src="assets/videos/fighter.mp4" autoplay poster="posterimage.jpg" muted loop>
              </video>
          </div>
          <div class="carousel-item">
              <video class="img-fluid" src="assets/videos/mere.mp4" autoplay poster="posterimage.jpg" muted loop>
              </video>
          </div>
          <div class="carousel-item">
              <video class="img-fluid" src="assets/videos/cargo.mp4" autoplay poster="posterimage.jpg" muted loop>
              </video>
          </div>
      </div>
  </div>
  <!-- Fin Carousel -->
  <!-- produits -->
  <div class="row d-flex flex-row justify-content-center"ng-controller="ProductsCtrl">
    <div class="card m-4 shadow" style="width: 18rem;" ng-repeat="product in products | filter:query | orderBy:order">
      <a href="#!/details/{{$index}}">
        <img src="assets/img/{{product.img}}" class="card-img-sm rounded" alt="">
      <div class="card-img-overlay">
        <h5 class="card-title text-white font-weight-bold">{{product.nom}}</h5>
      </div>
      </a>
    </div>
  </div>
  <!-- Début footer -->
  <div class="page-footer mt-4 pt-2 footercontact">
    <div class="text-center">
      <h5 class="text-uppercase">StarShip Builder</h5>
      <p class="contact"> mail : starship.builder@gmail.com</p>
      <p class="contact">tel : 0345675424</p>
    </div>
    <div class="container text-center">
      <div class="footer-copyright">© 2019 Copyright: Victor, Nicolas, Flavien.
        <a class="footerlink"href="https://github.com/la-manu-amiens-promo-2/Projet-NFV">Projet e-Commerce</a>
      </div>
    </div>
  </div>
</div>
