body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
  center top / cover fixed url("../img/blue.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Titillium Web', sans-serif;
}

.navbar, .footercontact {
  border-radius: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.card-title, .categories-title {
  text-shadow: 1px 1px 2px black;
}
.card {
  border: none;
  transition: all .2s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}

.article, .articleCart {
  background: rgba(52, 58, 64, 0.8);
  border-radius: 5px;
}
