/* Bouton catégorie */
.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  background-color: #343a40;
}
.dropbtn:hover {
  color: grey;
}

/* Positionnement du dropdown catégorie */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Contenu du dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Liens dans le dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Changer la couleur du background des liens au hover à l'intérieur du dropdown*/
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Afficher les catégories en hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Changement de couleur des icônes */
#cartIcon, #accountIcon{
  color: white;
}

/* Changer la couleur du texte catégorie en hover */
#cartIcon:hover,#accountIcon:hover{
  color: grey;
  text-decoration: none;
}

/* Flexbox de la navbar */
.navbar-nav,
.mr-auto, .narbar {
flex: 1;
margin: auto !important;
display: flex;
justify-content: space-around;
align-items : center;
}
